@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&family=Roboto:wght@400;700&display=swap");

.CoffeeCard-container {
  width: 256px;
  height: 310px;
  background-color: #f3f2f2;
  border-radius: 6px 36px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 40px 32px 40px 0;
}

.CoffeeCard-img {
  width: 120px;
  height: 120px;
}

.CoffeeCard-tags-container {
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CoffeeCard-tags {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 130%;
  text-transform: uppercase;
  color: #c47f17;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  min-width: 10px;
  height: 21px;
  background: #f1e9c9;
  border-radius: 100px;
  border: none;
  margin-top: 16px;
  margin-inline: 2px;
}

.CoffeeCard-name {
  font-family: "Baloo 2", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 18.2px;
  color: #403937;
  margin-top: 16px;
  margin-bottom: 8px;
}

.CoffeeCard-description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: center;
  color: #8d8686;
  margin-top: 0;
  margin-bottom: 0;
  width: 216px;
}

.CoffeeCard-buy-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  width: 208px;
  height: 38px;
  margin: 33px 24px 20px 24px;
}

.CoffeeCard-buy-price {
  width: 67px;
  height: 31px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  text-align: right;
  color: #574f4d;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.buy-price-span {
  font-size: 31px;
  font-family: "Baloo 2", sans-serif;
  font-weight: 900;
}

.CoffeeCard-buy-actions {
  width: 118px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
}

.CoffeeCard-action-counter {
  background-color: #e6e5e5;
  width: 72px;
  height: 38px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-counter-btn {
  background: none;
  color: #8047f8;
  font-size: 20px;
  font-weight: 700;
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 2px;
  margin-inline: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.action-counter-btn:hover {
  background-color: #a7a7a7;
  cursor: pointer;
}

.counter-btn-minus {
  height: 10.9375px;
  width: 10.9375px;
}

.counter-btn-plus {
  height: 10.9375px;
  width: 10.9375px;
}

.action-counter-input {
  width: 20px;
  height: 21px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  color: #272221;
  border: none;
  background: none;
  -ms-appearance: textfield;
  -moz-appearance: textfield;
}

.action-counter-input::-webkit-outer-spin-button,
.action-counter-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.action-counter-input:focus {
  border: none;
  outline: none;
}

.CoffeeCard-action-Cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  gap: 8px;
  width: 38px;
  height: 38px;
  background-color: #4b2995;
  border-radius: 6px;
  border: none;
}

.CoffeeCard-action-Cart:hover {
  cursor: pointer;
  background-color: #411d90;
}

.CoffeeCard-buy-icon {
  width: 20px;
}

@media (max-width: 1014px) {
  .CoffeeCard-container {
    margin: 20px 12px 20px 12px;
  }
}
