@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700;800&family=Roboto:wght@400;700&display=swap");

.header-container {
  height: 104px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-inline-start: 90px;
  margin-inline-end: 90px;
}

.header-logo-btn {
  border: none;
  background: none;
}

.header-logo-btn:hover {
  cursor: pointer;
}

.header-logo-icon {
  height: 40px;
}

.header-actions {
  width: 193px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.header-button {
  padding: 8px;
  gap: 4px;
  border-radius: 6px;
  border: none;
}

.header-actions-location {
  width: 143px;
  height: 38px;
  background-color: #ebe5f9;
  color: #4b2995;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header-location-icon {
  width: 21px;
}

.header-actions-cart {
  width: 38px;
  height: 38px;
  background-color: #f1e9c9;
}

.header-actions-cart:hover {
  cursor: pointer;
  background-color: #efe1ab;
}

.header-cart-icon {
  width: 21px;
}

span {
  vertical-align: super;
}

@media (max-width: 540px) {
  .header-logo-icon {
    height: 30px;
  }

  .header-actions-location {
    font-size: 11px;
    width: 123px;
  }

  .header-location-icon {
    width: 17px;
  }

  .header-cart-icon {
    width: 20px;
  }

  .header-container {
    margin-inline-start: 60px;
    margin-inline-end: 60px;
  }
}

@media (max-width: 415px) {
  .header-logo-icon {
    height: 30px;
  }

  .header-actions-location {
    font-size: 11px;
    width: 123px;
  }

  .header-location-icon {
    width: 17px;
  }

  .header-cart-icon {
    width: 20px;
  }

  .header-container {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
